* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 40%;
    font-size:20px;
    
}

.first {
    width: 4%;
    float: left;
    padding-left: 20px; /* Added missing semicolon */
    padding-top:20px;
}

.second {
    width: 80%;
    float: right;
    font-size: 30px; /* Corrected 'text-size' to 'font-size' */
    font-weight: bold;
    padding-top: 30px; /* Added missing semicolon */
    
}
.bodypart
{
	width:100%;
	text-align:center;
}

.bodypart1
{
	width:55%;
	float:left;
	border:0px solid red;
	padding-top:5%;
}

.bodypart2
{
	width:42%;
	float:left;
	border:0px solid green;
	padding-top:5%;
}
.formcontrol
{
	width:200px;
	height:40px;
}
label
{
	font-size:35px;
}
button
{
	background-color:skyblue;
	text-color:black;
	width:200px;
	height:40px;
	font-weight:bold;
	
	
}
.userhome
{
	text-align:left;
	font-size:50px;
	font-weight:bold;
	padding:20px;
}
.userhome span
{
	padding-right:50px;
}
.heading
{
	font-size:30px;
	color:orange;
}